<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <include resource="logger/debug-appender.xml"/>
    <include resource="logger/info-appender.xml"/>
    <include resource="logger/warn-appender.xml"/>
    <include resource="logger/error-appender.xml"/>

    <timestamp key="BY_DATE" datePattern="yyyy-MM-dd"/>

    <property name="LOG_PATTERN"
              value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

    <root level="DEBUG">
        <appender-ref ref="FILE-DEBUG"/>
        <appender-ref ref="CONSOLE-INFO"/>
        <appender-ref ref="CONSOLE-WARN"/>
        <appender-ref ref="CONSOLE-ERROR"/>
    </root>
</configuration>
